body {
    background-color : #1C2331;
}

#logo{
  font-size: xx-large;
  color: white;
}

#logo:hover{
  opacity:0.8;
  transition : 0.5s;
}
#divImportation {
    margin-top: 0.5%;
    height: 15%;
    /*overflow-y: scroll;
    /*scrollbar-width: thin;
    border: 2px solid;*/
}

#message{
  resize: none;
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
#sujet{
  font-size: .8rem;
  letter-spacing: 1px;
  padding: 10px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}


.optionMenu{
  width: 90%;
  background-color: darkgrey;
  font-weight: bold;
  font-size: 10px;
}
.instructionEnImage{
  margin-left: 25%;
  width : 80%;
  height: 25%;
}
.btn-secondary {
  background-color: darkgrey;
}

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.photoEtud{
  width: 6rem;
  border: 2px solid darkblue;
  border-radius: 1em;
  
}



article {
    display:inline-block;
    float: right;
}

aside {
    display:inline-block;
}

.instructionEnImage {
    width : 50%;
}

.logosNav {
    width:25px;
    margin-right:5px;
}

#logoMySchool {
    width: 30px;
}



